.col-md-1,.col-md-4,.col-md-6, .col-xs-12, .col-md-8, .col-xs-6, .col-md-3, .col-md-9, .col-md-push-3, .col-md-pull-9, .col-md-12, .col-xs-8{
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;
	border: 0px;
}